/* styles.css */
body {
  background-color: #0a0a0a;
  margin: 0;
  color: #f5f5f5;
  height: 100%;
}

header {
  background: #0a0a0a;
  color: #00ffff;
  text-shadow:
    0 0 10px #00ffff,
    0 0 20px #00ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  flex-wrap: nowrap;
  min-width: 500px;
}

#logo-text {
  font-family: "Righteous", sans-serif;
  font-size: clamp(2rem, 4vw, 3.5rem);
  color: #00ffff;
  text-shadow:
    0 0 5px #00ffff,
    0 0 15px #00ffff;
  text-wrap: nowrap;
  padding-right: 20px;
}

#buttons-right {
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
}

.navbutton {
  color: #00ffff;
  border: 2px solid #00ffff;
  background: transparent;
  text-shadow: 0 0 8px #00ffff;
  padding: 15px;
  font-size: 1rem;
}

.navbutton:hover {
  color: #ff00ff;
  border-color: #ff00ff;
  text-shadow: 0 0 10px #ff00ff;
  cursor: pointer;
}

/* navbar content */

#headline-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

#headline {
  font-size: 32px;
  font-weight: bold;
}

#headline-subtext {
  font-size: 18px;
}

#home-content {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

#home-content img {
  width: 300px;
}

.booking-button {
  width: 200px;
  background: transparent;
  color: #00ffff;
  border: 2px solid #00ffff;
  padding: 12px 26px;
  border-radius: 8px;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 0 0 8px #00ffff;
  box-shadow: 0 0 8px #00ffff;
  transition: all 0.3s ease;
}

.booking-button:hover {
  background: #00ffff;
  color: #0a0a0a;
  box-shadow:
    0 0 20px #00ffff,
    0 0 5px #00ffff;
}

#headline-content .booking-button {
  display: block;
  margin: 0 auto;
}

/* home content */

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  background-color: #111;
  color: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

/* menu content */

/* about content */
#about-content {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

#about-content img {
  width: 500px;
  border-radius: 10%;
}
